<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edibles/About</title>
</head>
<body><p>
    item: 'Welcome to the Edibles bakery an italian inspired bakery shop located in the heart of Lagos,
    at the Ikeja city mall, and at various shopping malls around the west-side.'}]<p>
</body>
</html>

<!-- <%= content[1].item %> -->