<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin content</title>
</head>
<body>
    <h1>Today's content</h1>
    <div id="today-table">
        <form method="POST" action="/edibles/content">
            <label for="item">pastry</label>
            <input type="text" name="item" placeholder="Add a new item..." required/>
            <br>
            <label for="content">content</label>
            <input type="text"  name="content" placeholder="Enter the details of the preparation" required/>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>

