<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/fa1ecd54a4.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
			integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
            crossorigin="anonymous"></script>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css">        
    <title>Edibles Bakeshop</title>
</head>
<body>
    <header class="home-style">
            <nav id="top-nav">
                <ul id="head-list">
                    <li><a class="anchor1" href="/edibles/home">Home</a></li>
                    <li><a class="anchor1" href="/edibles/locations">Locations</a></li>
                    <li><a class="anchor1" href="/edibles/about">About</a></li>
                    <li><a class="anchor1" href="/edibles/signup">Sign up!</a></li>
                </ul>
            </nav>

            <h1>Edibles Bakery<small id="trade-m">®</small></h1>
            <p id="motto"></p>
        </header>

        <main>
            <div>
            <h2>Freshly baked</h2>
            <h3>Breads</h3>
            <p  class="border">
                <img class="pop-img" src="/assets/bread1.jpg" alt="bread">
            </p>
            <p>
                <a class="learn-links" href="">Learn more about our baking process...</a>
            </p>
    
            <h3>Cakes</h3>
            <p class="border">
                <img class="pop-img" src="/assets/cake.jpg" alt="cake">
            </p>
            <p><a class="learn-links" href=""></a></p>
            </div>

            <div>
            <article id="article-today">
                <!--this image is not on the same line with the text, align them properly.-->
                <h3><img src="/assets/idea1.jpg" alt=""><em></em></h3>
                <p></p><br>
                <img  class="pop-img" src="/assets/muffins.jpg" alt="image">
                <br>
                <p><a class="learn-links" href=""></a></p>
            </article>
            </div>
        </main>
        <footer id="footer">
            <p></p>
            <a href="" class="bottom" id="b-first"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="" class="bottom" id="b-second"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            <a href="" class="bottom" id="b-third"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </footer>

    <script src="/assets/index.js"></script>
</body>
</html>