<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/fa1ecd54a4.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
			integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
            crossorigin="anonymous"></script>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css">        
    <title>Edibles Bakeshop</title>
</head>
<body>
    <header class="home-style">
            <nav id="top-nav">
                <ul id="head-list">
                    <li><a class="anchor1" href="/edibles/home">Home</a></li>
                    <li><a class="anchor1" href="/edibles/locations">Locations</a></li>
                    <li><a class="anchor1" href="/edibles/about">About</a></li>
                    <li><a class="anchor1" href="/edibles/signup">Sign up!</a></li>
                </ul>
            </nav>

            <h1>Edibles Bakery<small id="trade-m">®</small></h1>
            <p id="motto">You have fun, we'll handle the baking...</p>
        </header>

        <main>

            <article id="article1">
            <div>
                <h2>Freshly baked</h2>
                <header class="article-headers">
                    <h3>Breads</h3>
                    <p class="grey-time">Posted: <time datetime="2020-02-01" pubdate>January 4th 2020</time></p>
                </header>

                <p  class="border">
                    <img class="article-img" src="/assets/images/bread1.jpg" alt="bread">
                    "Our breads are made daily from highest-quality whole grain flour, water, salt, and yeast or sourdough starter.
                    Simply and naturally, and never any preservatives.
                    Patience is key to achieving the proper level of fermentation and baking each loaf to perfection. 
                    Available in whole grain, sourdough, olive loaf, classic rye, and potato-onion."
                </p>

                <p><a class="learn-links" href="">Learn more about our baking process...</a></p>
                <footer class="article-footers"></footer>

            
            <header class="article-headers">
            <h3>Cakes</h3>
            <p class="grey-time">Posted: <time datetime="2020-02-01" pubdate>January 4th 2020</time></p>
            </header>

            <p class="border">
                <img class="article-img" src="/assets/images/cake.jpg" alt="cake">
                " Every day, we offer a large selection of cakes, including blueberry, multi-berry, bran, corn, lemon-poppyseed, and chocolate.
                 Our cakes are made from scratch each day. 
                 Stop by to see our seasonal muffin flavors!"
            </p>
            <p><a class="learn-links" href="">Learn more about our cake-making process...</a></p>
            <footer class="article-footers"></footer>
            </div>
        </article>

            <div class="gfg">
            <article id="article-today">
                <!--this image is not on the same line with the text, align them properly.-->
                <h3><img src="/assets/images/idea1.jpg" alt=""><em><%= products.product %></em></h3>
                <p><%= products[0].description %></p><br>
                <img  class="pop-img" src="/assets/images/muffins.jpg" alt="image">
                <p id="article-writeup">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                   Excepteur sint occaecat cupidatat non proident, 
                   sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <p><a class="learn-links" href="">Click here for details...</a></p>
            </article>
            </div>
        </main>
        <footer id="footer">
            <p>All contents copyright &copy; 2019, Edibles bakeshop</p>
            <a href="" class="bottom" id="b-first"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="" class="bottom" id="b-second"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            <a href="" class="bottom" id="b-third"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </footer>

    <script src="/assets/index.js"></script>
</body>
</html>